/**
 * Variables
*/

/* Typography */
/* Breakpoints */
/* Paths */
/* Grid setup */
/* Colour palette */
$black: #000;
$white: #fff;

$body-background-color: #fff;
$foreground-color: #222222;
$caption-color: #464646;

$blue: #4f42ff;
/* Components */
